.columns2 {
    height: 30px !important;
    padding: 5px !important;
    min-width: 120px !important;
}
.columns1 {
    height: 30px !important;
    padding: 5px !important;
}
.agenda_field2 {
    background: white !important;
    height: 120px !important;
    top: 120px !important;
    position: relative !important;
}
.agenda_field_two_hours2 {
    background: white !important;
    position: absolute !important;
    min-width: 100px !important;
}
.agenda_field_two_hours2:hover {
    background: #fae398 !important;
}
.agenda_field_two_hours3 {
    background: white !important;
    height: 115px !important;
    top: 100px !important;
    position: absolute !important;
    min-width: 100px !important;
}
.agenda_field_two_hours3 {
    background: white !important;
    height: 115px !important;
    top: 120px !important;
    position: absolute !important;
}
.bg-custom-1 {
    background: #E9EAEB !important;
}
.border-custom-1 {
    border-color: #c3cace !important;
}
.border-custom-gold {
    border-color: #D4AF37 !important;
}
.text-black {
    color: black !important;
}
.text-light-custom {
    color: #E9EAEB !important;
}
.text-overflow {
    margin-right: 5px !important;
    margin-left: 5px !important;
    margin-bottom: 2.5px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc((100vw / 7) - (5.05px / 8) - 43.5px);
    min-width: 95px !important;
    height: 24px;
    white-space: nowrap;
}
.text-overflow-2 {
    margin-right: 5px !important;
    margin-left: 5px !important;
    margin-bottom: 2.5px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc((100vw / 7) - (5.05px / 8) - 43.5px);
    min-width: 95px !important;
    white-space: nowrap;
    height: auto !important;
}
.curser-pointer {
    cursor: pointer !important;
}
.text-green-custom {
    color: #00d61d !important;
}
.border-green-custom {
    border-color: #00d61d !important;
}
.bg-green-custom {
    background: #00d61d !important;
}
.position {
    position: relative !important;
}
.agenda_field_time {
    position: absolute;
    bottom: 0;
    right: 5px;
}
@media only screen and (max-width: 426px) {
    .responsive-row {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
    }

    .container-table {
        overflow-x: scroll;
    }
    .time_bar {
        width: 935px;
    }
}
